{% extends 'layout.html' %}

{% block custom_css %}
{#    <link rel="stylesheet" href="/static/css/account.css">#}
{% endblock custom_css %}

{% block content %}

    <section class="container" style="padding-bottom: 100px;">
        <form action="" method="POST" class="log-form" style="padding-top: 50px;">
            <hgroup>
                <h2>Login to PyPI</h2>
            </hgroup>
            <div class="group log-input">
                <label><strong>Username </strong><span style="font-size: xx-small;">(required)</span></label>
                <br/>
                <input name="email" type="text" placeholder=" Your email address"
                       value="{{ email }}" required/>
            </div>
            <br/>

            <div class="group log-input">
                <label><strong>Password </strong><span style="font-size: xx-small">(required)</span></label>
                <br/>
                <input name="password" type="password" placeholder=" Password"
                       value="{{ password }}" required/>
            </div>
            <br/>

            <div class="container-log-btn">
                <button type="submit" name="btn_submit" class="log-form-btn btn btn-primary">
                    <span>Login</span>
                </button>
            </div>

            <div style="clear: both;"></div>
            {% if error %}
                <div class="error-msg">{{ error }}</div>
            {% endif %}
        </form>
    </section>

{% endblock content %}

